

.office-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 60px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 6px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
  }

  /* .div-right h1 {
    font-size: 28px;
  } */
}


.gallery-card {
  display: flex;
  flex-direction: column;
}

.gallery-caption {
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  transition: color 0.3s ease;
}

/* Theme hover effect */
.gallery-card:hover .gallery-caption {
  color: #ff7a18;
}

