.footer {
  background: #555;
  color: #ddd;
  padding-top: 40px;
  font-family: Arial, sans-serif;
  margin-top: 60px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
 padding: 0 60px 30px;  /* was 0 80px 50px */
  gap: 30px;             /* was 40px */
}

.footer-col h3 {
  color: white;
  margin-bottom: 20px;
  position: relative;
}

.footer-col h3::after { 
  content: "";
  width: 40px;
  height: 2px;
  background: #ff7a18;
  position: absolute;
  bottom: -8px;
  left: 0;
}

.footer-logo {
  font-size: 26px;
  color: #ff7a18;
  margin-bottom: 15px;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.7;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  padding: 8px 0;
  cursor: pointer;
  transition: color 0.3s;
  color: #fff;
}

.footer-col ul li:hover {
  color: #ff7a18;
}

/* Bottom Bar */
.footer-bottom {
  background: #2a2a2a;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

.footer-bottom span {
  color: #ff7a18;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 40px 40px;
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-col h3::after {
    left: 50%;
    transform: translateX(-50%);
  }


}

/* ===== FOOTER LINK FIX ===== */
.footer a,
.footer a:link,
.footer a:visited,
.footer a:active,
.footer a:focus {
  color: #fff !important;
  font-weight: 500;
  text-decoration: none;
}

.footer a:hover {
  color: #ff7a18 !important;
}

.footer a {
  color: #ffffff !important;
  text-decoration: none;
}

.footer a:hover {
  color: #ff7a18 !important;
}

.footer-social i {
  font-size: 18px;
  margin-right: 16px;
  color: #ff7a18;
}

.justdial-icon {
  width: 22px;
  height: auto;
  margin-right: 16px;
}
